.banner{
    padding: 100px 50px;
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: #b17a23;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: "PT Sans", sans-serif;
}
.banner .design h1{
    color: white;
    font-weight: 600;
    font-size: 3vw;
    text-transform: uppercase;

}
.banner .design p{
    color: white;
    font-size: 1.5vw;
    text-transform: capitalize;
    font-weight: 500;
}
.button1{
    padding: 18px 50px;
    color: black;
    background-color: white;
    border-radius: 20px;
}
.button1 p{
    margin-bottom: 0px;
    font-weight: 600;
    font-size: 1.2vw;
}
.button1:hover{
    color: white;
    background-color: black;
    transition: 0.5s ease-in;
    cursor: pointer;
}

@media screen and (max-width:999px) {
    .banner{
        flex-direction: column;
    }
    .banner .design h1{
        font-size: 2rem;
    }
    .banner .design p{
        font-size: 1.2rem;
    }
    .button1{
        padding: 18px 50px;
    }
    .button1 p{
        font-size: 1.2rem;
    }
}

@media screen and (max-width:472px) {
    .banner{
    padding: 50px 20px;

    }
    .banner .design h1{
        font-size: 1.4rem;
    }
}