.footer{
    background-color: rgb(247, 247, 247);
    padding: 30px 100px;
    font-family: "PT Sans", sans-serif;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
}
.logo{
    width: 90%;
    height: auto;
}
.logo img{
    width: 100%;
    height: auto;
}
.rghtfot h2{
    font-size: 3vw;
    font-family: "PT Sans", sans-serif;
    font-weight: 600;
}
.rghtfot p{
    font-size: 1.4vw;
    font-weight: 500;
}
.centerfoot h2{
    font-size: 2.5vw;
    font-weight: 600;
}
.centerfoot p{
    font-size: 1.5vw;
    margin-bottom: 0px;
    font-weight: 500;
    cursor: pointer;
}
.leftfoot h2{
    font-size: 2.5vw;
    font-weight: 600;
}
.leftfoot p{
    font-size: 1.5vw;
    margin-bottom: 0px;
    font-weight: 500;
}

@media screen and (max-width:999px) {
    .footer{
        padding: 30px 20px;
    }
    .rghtfot h1{
        font-size: 1.8rem;
    }
    .rghtfot p{
        width: 40%;
        font-size: 1.3rem;
    }
    .centerfoot h2{
        font-size: 1.5rem;
    }
    .centerfoot p{
        font-size: 1.3rem;
    }
    .leftfoot h2{
        font-size: 1.5rem;
        font-weight: 600;
    }
    .leftfoot p{
        font-size: 1.3rem;
    }
}
@media screen and (max-width:768px){
    .rghtfot p{
        width: 100%;
    }
}